

<ion-content>

  <ion-card class="post-cards">
    <div>
        <textarea type=text cols="40" rows="5" class="post-input" placeholder="No que você está pensando?"></textarea>
    </div>
    <br><br>
    <div class="botoes">
        <ion-button color="warning">EDITAR</ion-button>
        <ion-button color="danger">APAGAR</ion-button>
        <ion-button color="success">ENVIAR</ion-button>
        <ion-button fill="clear" [routerLink]="['/tabs/tab1']">VOLTAR</ion-button>
    </div>
    
    </ion-card>

</ion-content>
